<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление Ролями</title>
</head>
<body>
<div th:replace="layout :: content">
    <h1>Управление Ролями</h1>

    <!-- Форма для создания новой роли -->
    <form th:action="@{/admin/roles}" th:object="${role}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div>
            <label for="name">Название роли:</label>
            <input type="text" id="name" th:field="*{name}" required />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка названия роли</div>
        </div>
        <button type="submit">Создать Роль</button>
    </form>

    <!-- Отображение ошибок -->
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <!-- Список существующих ролей -->
    <h2>Существующие Роли</h2>
    <ul>
        <li th:each="role : ${roles}" th:text="${role.name}">Role Name</li>
    </ul>
</div>
</body>
</html>